<div class="col-md-8 col-md-offset-2"><md-grid-list cols="4"><md-grid-tile *ngFor="let item of pagedItems"><img src="{{item.img}}" class="img-rounded" alt="Cinque Terre" width="204" height="186"></md-grid-tile></md-grid-list>
    <div class="pull-right">
    <ul *ngIf="pager.pages && pager.pages.length" class="pagination">
    <li [ngClass]="{disabled:pager.currentPage === 1}">
        <a (click)="setPage(pager.currentPage - 1)">Prev</a>
    </li>
    
    <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
        <a (click)="setPage(pager.currentPage + 1)">Next</a>
    </li>
    </ul>
    </div>
</div>